.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; /* Ajusta la altura del contenedor según tus necesidades */
  }
  
  .centered-image {
    max-width: 50%; /* Ajusta el tamaño de la imagen según tus preferencias */
    max-height: 50%; /* Ajusta el tamaño de la imagen según tus preferencias */
    display: block; /* Asegura que la imagen se muestre como un bloque */
    margin: 0 auto; /* Centra la imagen horizontalmente dentro del contenedor */
  }
  .custom-input {
    --padding-start: 10px; /* Ajusta el espacio interno izquierdo */
    --padding-end: 10px; /* Ajusta el espacio interno derecho */
    --padding-top: 12px; /* Ajusta el espacio interno superior */
    --padding-bottom: 12px; /* Ajusta el espacio interno inferior */
    border-radius: 8px; /* Ajusta el radio de borde */
    border: 1px solid #ccc; /* Ajusta el estilo del borde */
    font-weight: bold; /* Aumenta el grosor de la fuente */
    text-transform: uppercase; /* Cambia el formato del texto a mayúsculas */
  }
  
  